tmp/*
output/*
node_modules
*_research_dir
*.egg-info
experiment_configs
.venv/*
.idea*
tst*
state*
junk/*
huggingface_*
junk/logs
papers*
hf*
junk/data/*
research_dir/*
.DS_Store
state_saves/*
*/__pycache__/*
Figure*.png
testrun.py
agent_times_1.txt
litrevra.log
.roo/*
__pycache__/*
